---
- name: Installing andrewrothstein.unarchivedeps
  ansible.builtin.include_role:
    name: andrewrothstein.unarchivedeps
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Look for install in {{ starship_install_dir }}
  become: true
  ansible.builtin.stat:
    path: '{{ starship_install_dir }}'
  changed_when: false
  register: starship_binary
- name: Downloading and installing starship
  when: not starship_binary.stat.exists
  block:
    - name: Downloading {{ starship_url }} to {{ starship_tmp_archive }}
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: '{{ starship_url }}'
        dest: '{{ starship_tmp_archive }}'
        checksum: '{{ starship_checksum }}'
        mode: '644'
    - name: Mkdir {{ starship_install_dir }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ starship_install_dir }}'
        state: directory
        mode: '755'
    - name: Unarchiving {{ starship_tmp_archive }} to {{ starship_install_dir }}
      become: true
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ starship_tmp_archive }}'
        dest: '{{ starship_install_dir }}'
        creates: '{{ starship_exe }}'
  always:
    - name: Rm {{ starship_tmp_archive }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ starship_tmp_archive }}'
        state: absent
- name: Linking {{ starship_link }} to {{ starship_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ starship_exe }}'
    dest: '{{ starship_link }}'
    state: link
